* {
    padding: 0;
    margin: 0;
}

.fundo-login {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/capa2.jpg) ;
}

.conteudo {
    /* padding: ; */
    width: 100%;
    text-align: center;
    /* margin-top: 50%; */
}

h1 {
    color: aliceblue;
    font-size: 1.4em;
    margin-bottom: 20px;
    margin-top: 15px;
    padding-left: 15px;
}

h2 {
    margin-top: 15px;
}

.formulario {
    width: 300px;
    /* border: 1px solid black; */
    margin: auto;
    background-color: rgba(24, 24, 24, 0.659);
    padding: 30px 0 30px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%)
}

label {
    font-weight: 600;
    font-size: 1.3em;
    color: aliceblue;
}

.linhas {
    margin-bottom: 10px;

}

.botao {
    margin-right: 10px;
    padding: 5px;
}

.botao-salvar {
    text-align: center;
}

.botao-salvar input {
    padding: 10px;
    width: 200px;
    margin-bottom: 15px;
}

.loginGit {
    color: white !important;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5em;
}

.form-envia-dados{
    padding: 0 0 0 20px;
    border: 1px solid black;
    width: 300px;
    margin: auto;
    background-color: rgb(252, 252, 249);
    border-radius: 20px;
}

header {
    width: 100%;
    display: inline-block;
}

.campo {
    margin-bottom: 10px;
}

.campo label {
    color: black;
}

.imagem img {
    width: 130px;
    padding-left: 15px;
}

.select-box {
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.fundo-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1) ), url(../img/capa2.jpg) ;
}